<footer class="footer section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Qiuck Links</h4>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">More Links</h4>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li class="list-inline-item"><a href="https://github.com/kjs3829" target='_blank'><i class="ti-github mr-2"></i>GitHub</a></li><br>
                        <li class="list-inline-item"><a href="https://velog.io/@jslog" target='_blank'><i class="ti-user mr-2"></i>Velog</a></li><br>
                        <li class="list-inline-item"><a href="mailto:kjs35323@naver.com" target='_blank'><i class="ti-email mr-2"></i>Email</a></li><br>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>