<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">
  
  <meta name="author" content="themefisher.com">

  <title>새 글 작성</title>

	  <link th:insert="/common/csss.html">

	  <style>
		  textarea{
			resize: none;
		  }
		  .field-error {
			 border-color: #dc3545;
			 color: #dc3545;
		  }
	  </style>

</head>

<body>
	<div class="container">
		<form th:object="${postWriteForm}" action="/posts" method="post">
			<div class="my-5">
				<label for="title">제목</label>
				<textarea class="form-control" id="title" rows="1" cols="40" placeholder="제목을 입력하세요" th:field="*{title}"></textarea>
			</div>
			<div class="mb-5">
				<label for="content">내용</label>
				<textarea class="form-control" id="content" rows="15" cols="40" placeholder="내용을 입력하세요" th:field="*{content}"></textarea>
			</div>
			<div class="mb-5">
				<label for="url">url 설정</label>
				<input class="form-control" id="url" th:field="*{url}" th:errorclass="field-error">
				<div class="field-error" th:errors="*{url}" />
				<div th:if="${#fields.hasGlobalErrors()}">
					<p class="field-error" th:text="${#fields.globalErrors()}">전체 오류 메시지</p>
				</div>
			</div>

			<div class="mb-5">
				<label for="tags">Tags</label>
				<textarea class="form-control" id="tags" rows="1" cols="40" placeholder="내용을 입력하세요" th:field="*{tags}"></textarea>
			</div>

			<button class="btn btn-primary" type="submit">저장하기</button>
		</form>
	</div>
</body>
</html>