<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">

	<meta name="author" content="themefisher.com">

	<title>About</title>

	<link th:insert="common/csss.html">

</head>

<body>

<!-- Naviagtion -->
<nav th:insert="common/navigation.html"></nav>

<div class="main-wrapper ">
	<div class="section pb-0">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 text-center">
					<div class="section-title">
						<span class="h6 text-color">About</span>
						<h2 class="mt-3 content-title ">자기소개</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Section About Start -->
	<section class="section about-2 position-relative pt-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8">
					<div class="about-item pr-3 mb-5 mb-lg-0">
						<span class="h6 text-color">What i am</span>
						<h2 class="mt-3 mb-4 position-relative content-title">기술로 더 편리한 세상을 꿈꾸는 개발자 김준성 입니다.</h2>
						<p class="mb-5">어릴 때 부터 무엇이든 직접 만드는 것을 좋아하다가 개발의 재미에 빠져 개발 공부를 시작하게 되었습니다. </p>

					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="about-item-img ml-5">
						<img src="images/about/profileImage.jpg" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section About End -->

	<section class="about-info section pt-0">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="about-info-item mb-4 mb-lg-0">
						<h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>성장 추구</h3>
						<p>저는 모든 면에서 성장하고 싶습니다. 그렇기 때문에 저는 제가 하는 모든 일들을 열심히 하려고 노력합니다. </p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="about-info-item mb-4 mb-lg-0">
						<h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>자기 주도와 책임감</h3>
						<p>저는 어떤 일이든 자기 주도적으로 할때 가장 일의 능률이 높다고 생각합니다. 제가 하는 일은 책임감을 갖고 주도적으로 하려 노력합니다.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="about-info-item mb-4 mb-lg-0">
						<h3 class="mb-3"><span class="text-color mr-2 text-md">03.</span>원활한 커뮤니케이션</h3>
						<p>저는 사람들과 대화를 할 때 경청하는 자세를 취하려 노력합니다. 말의 의도와 정서를 파악하고, 상대방의 관점으로도 사고하려 노력합니다.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--  Section Interest Start -->
	<section class="section service border-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 text-center">
					<div class="section-title">
						<span class="h6 text-color">Interest</span>
						<h2 class="mt-3 content-title ">관심있는 분야</h2>
					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-item mb-5">
						<i class="ti-desktop"></i>
						<h4 class="mb-3">Spring.</h4>
						<p>스프링과 스프링 부트의 강력한 기능에 흥미를 느껴 공부하고 있습니다.</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-item mb-5">
						<i class="ti-layers"></i>
						<h4 class="mb-3">JPA.</h4>
						<p>대용량의 데이터와 트랜잭션들을 안정적이고 빠르게 처리하는 방법을 공부하고 있습니다.</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-item mb-5">
						<i class="ti-bar-chart"></i>
						<h4 class="mb-3">TDD.</h4>
						<p>디버깅시간을 줄이고 안정적인 서비스를 제공하기 위해 학습하고 있습니다.</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-item mb-5 mb-lg-0">
						<i class="ti-lock"></i>
						<h4 class="mb-3">Web Authentication.</h4>
						<p>웹 서비스 사용자의 개인 정보를 보호하고 맞춤 서비스를 제공하는 것에 관심을 가지고 있습니다.</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-item mb-5 mb-lg-0">
						<i class="ti-mobile"></i>
						<h4 class="mb-3">App development.</h4>
						<p>모바일 앱은 편리하게 접근하고 사용할 수 있기 때문에 서비스를 제공하기에 가장 알맞은 플랫폼이라 생각하여 관심을 가지고 있습니다.  </p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--  Section Services End -->

	<footer th:insert="common/footer.html"></footer>

</div>

<!-- Essential Scripts -->
<meta th:insert="common/scripts.html">

</body>
</html>