<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">

	<meta name="author" content="themefisher.com">

	<title>PopCat - 소개</title>

	<link th:insert="common/csss.html">
	<style>
		.post_row{
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;
			flex-direction: column;
    		align-items: center;
		}
		textarea{
			resize: none;
		}
		.buttons-wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;}
	</style>
</head>

<body>

<!-- Navigation -->
<nav th:insert="common/navigation.html"></nav>

<div class="main-wrapper ">
	<section class="section blog-wrap">
		<div class="container">
			<div class="post_row">
				<div class="col-lg-10">
					<div class="row">
						<div class="col-lg-12 mb-5">
							<div class="single-blog-item">
								<div class="blog-item-content bg-white p-5">
									<!-- Content -->
									<div id="content">
										<p class="ml-5 mb-5 pl-5"><img src="/images/portfolio/popcat.png" alt=""></p>
										<br>
										<h3>1. 서비스 소개</h3>
										<p>유튜버 &quot;개발자 라라&quot; 님의 안드로이드 앱 PopCat을 아이폰에서도 사용하고 싶어서 만든 IOS 앱 입니다.</p>
										<p><em>코드는 <a href="https://github.com/kjs3829/PopCat">GitHub</a>에서 확인할 수 있습니다.</em></p>
										<hr />
										<br>
										<h2>2. 기술 스택 및 사용 개발 툴</h2>
										<ul>
											<li>Swift</li>
											<li>Xcode</li>
										</ul>
										<hr />
										<br>
										<h2>3. 사용 화면</h2>
										<p><img src="https://user-images.githubusercontent.com/50768514/138035510-13d5dd3b-4c14-4cb1-8237-da11593fca98.jpg" alt="um" /></p>
										<p><img src="https://user-images.githubusercontent.com/50768514/138035513-e6a44709-035b-453d-b23c-4570a16a5029.jpg" alt="POP" /></p>
										<h4>pop</h4>

										<!-- Content End -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- footer-->
	<footer th:insert="common/footer.html"></footer>

</div>

<!-- Essential Scripts -->
<meta th:insert="common/scripts.html">

</body>
</html>