<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">
  
  <meta name="author" content="themefisher.com">

  <title>Portfolio</title>

	  <link th:insert="common/csss.html">

</head>

<body>
	<!-- Navigation -->
	<nav th:insert="common/navigation.html"></nav>

	<div class="main-wrapper ">
		<!-- section portfolio start -->
		<section class="section portfolio pb-0">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-7 text-center">
						<div class="section-title">
							<span class="h6 text-color">Portfolio</span>
							<h2 class="mt-3 content-title ">작업한 프로젝트들</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="row portfolio-gallery px-5 mx-5">
					<div class="col-lg-3 col-md-3">
						<div class="portflio-item position-relative mb-4">
							<a href="/portfolio/JSLog">
								<img src="images/portfolio/JSLog.jpg" alt="" class="img-fluid w-100">

								<i class="ti-plus overlay-item"></i>
								<div class="portfolio-item-content">
									<h3 class="mb-0 text-white">JSLog</h3>
									<p class="text-white-50">블로그 프로젝트</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-md-3">
						<div class="portflio-item position-relative mb-4">
							<a href="/portfolio/WantToSay">
								<img src="images/portfolio/WantToSay.jpg" alt="" class="img-fluid w-100">

								<i class="ti-plus overlay-item"></i>
								<div class="portfolio-item-content">
									<h3 class="mb-0 text-white">Want To Say</h3>
									<p class="text-white-50">영어발음학습 안드로이드 앱</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-md-3">
						<div class="portflio-item position-relative mb-4">
							<a href="/portfolio/Popcat">
								<img src="images/portfolio/popcat.png" alt="" class="img-fluid w-100">

								<i class="ti-plus overlay-item"></i>
								<div class="portfolio-item-content">
									<h3 class="mb-0 text-white">Popcat</h3>
									<p class="text-white-50">pop</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-md-3">
						<div class="portflio-item position-relative mb-4">
							<img src="images/portfolio/4.jpg" alt="" class="img-fluid w-100">
							<!--
							<a href="images/portfolio/4.jpg" class="popup-gallery">
								<img src="images/portfolio/4.jpg" alt="" class="img-fluid w-100">

								<i class="ti-plus overlay-item"></i>
								<div class="portfolio-item-content">
									<h3 class="mb-0 text-white">Project california</h3>
									<p class="text-white-50">Web Development</p>
								</div>
							</a>
							-->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- section portfolio END -->

		<!-- footer-->
		<footer th:insert="common/footer.html"></footer>
   
    </div>

	<!-- Essential Scripts -->
	<meta th:insert="common/scripts.html">

</body>
</html>